{%- block toggle_password_widget -%}
  {#
    Template for password field with visibility toggle (Demo version)
    This is a simplified version that works without Symfony UX Icon
  #}

  <div class="input-group input-group-merge form-wallet-qr {{ (toggle_container_classes ?? [])|join(' ') }}">
    {%- set type = type|default('password') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    <span class="input-group-text cursor-pointer"
          role="button"
          tabindex="0"
          aria-label="{{ visible_label|default('Show password') }}"
          onclick="
            const input = this.previousElementSibling;
            const iconHidden = this.querySelector('.icon-hidden');
            const iconVisible = this.querySelector('.icon-visible');

            if (input.type === 'password') {
              input.type = 'text';
              iconHidden.classList.add('d-none');
              iconVisible.classList.remove('d-none');
              this.setAttribute('aria-label', '{{ hidden_label|default('Hide password') }}');
            } else {
              input.type = 'password';
              iconHidden.classList.remove('d-none');
              iconVisible.classList.add('d-none');
              this.setAttribute('aria-label', '{{ visible_label|default('Show password') }}');
            }
          ">
      <i class="ti ti-eye-off icon-hidden icon-base"></i>
      <i class="ti ti-eye icon-visible d-none icon-base"></i>
    </span>
  </div>
{%- endblock toggle_password_widget -%}

